.rules-page-align-center {
  display: flex;
  flex-direction: column;
  width: 50vh;
  height: 70vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}
.rules-wrapper {
  border: 1px dashed blue;
}
.rules-wrapper:hover {
  transform: translateY(-1vmax);
  box-shadow: 2px 4px 8px blueviolet;

  transition: all 0.4s;
}
.rules-content {
  /* text-align: center; */
  width: 80%;
  margin-left: 10% !important;
  padding: 0.5rem;
  color: var(--color-text-content);
  font-size: 1.8rem;
  font-family: serif;
}
.btn-full {
  width: 80%;
  margin-left: 10% !important;
}
.list-display-circle {
  list-style-type: circle;
  list-style-position: inside;
  /* color: red; */
}
