
nav a:hover {
  color: red;
  font-weight: 800;
  transition: all 1s ease;
}
.nav__left > div {
  margin: 0rem 1rem;
  margin-top: 1rem;
}
.nav__right > div {
  margin: 0rem 1rem;
  margin-top: 1rem;
}
nav {
  display: flex;
  flex-direction: row;

  background-color: #cad5e2;
  height: 10vh;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 1px dashed green;
  width: 100%;
}
.nav__left {
  max-width: 30vw;
  margin-left: 15vw;
  display: flex;
  /* justify-content: space-between; */
}
.nav__btn {
  padding: 0.5rem 0.7rem;

  background-color: #02b290;
  border: none;
  border-radius: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.nav__btn:hover {
  background-color: black;
  transition: all 1s;
}
.nav__right {
  margin-left: auto;
  margin-right: auto;
  max-width: 60vw;
  display: flex;
  align-items: space-between;
  justify-content: space-around;
}
