.pyramid {
  max-width: 25vw;
  display: flex;
  align-items: center;
  justify-content: end;
}
.pyramid__moneyList {
  width: 100%;
  padding: 1rem;
}
.pyramid__moneyList__money {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  /* width: 100%; */
  padding: 1rem;
  /* border-radius: 1rem; */
}
.pyramid__moneyList__money:active {
  background-color: greenyellow;
}
.prize-money {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.question-number {
  font-size: 1.3rem;
  font-weight: 100;
}
