body {
  background-color: #cad5e2;
}

.home {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.more-quiz {
  min-width: 30vw;
  min-height: 33vh;
  border: 1px dashed blue;
  margin: 1rem;
}
.more-quiz:hover {
  transform: translateY(-1vmax);
  box-shadow: 2px 4px 3px 6px #51e1ed;

  transition: all 0.8s;
}
.image--responsive {
  width: 400px;
  display: flex;
  margin: 0 auto;
  object-fit: cover;
}
.subheading {
  margin: 1rem;
  text-align: center;
  color: #12b0e8;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.content {
  padding: 1rem;
  text-align: center;
  color: #2827cc;
  font-weight: 700;
  font-size: 1rem;
}
